/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

body {
  background-color: grey;
  color: white;
}

h2,
h3,
h4,
caption {
  text-align: center;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
}

h5 {
  font-size: 1.6rem;
  font-weight: 300;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CONTAINERS */

section {
  margin: 0 2.5vw;
}

.row-container {
  display: flex;
  justify-content: space-between;
}

.align-bottom-container {
  align-items: end;
}

.align-center-container {
  align-items: center;
}

.card {
  width: 100%;
  padding: 2.5vw;
  margin: 0 2.5vw;
  margin-bottom: 2.5vw;
  background-color: brown;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 10px 1px black;
}

.hidden {
  display: none;
}

/* HEADER */

header {
  margin-bottom: 2.5vw;
}

.header-footer {
  padding: 1rem 5vw;
  background-color: blueviolet;
}

nav span {
  margin-right: 1rem;
}

/* SEARCH */
.search-section {
  background: url("/src/Mickey_Mouse.png") brown no-repeat;
  background-size: 25%;
  background-position: 20px 0;
  height: 30vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.search-section h3 {
  width: 30%;
  margin-bottom: 0;
  margin-right: 5vw;
}

.search-bar {
  height: 32px;
  width: 200px;
}

.search-container {
  width: 200px;
}

/* IMG */

.img-thumbnail {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.header-logo {
  height: 60px;
}

/* CARD */

.content-card {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: max-content;
  padding: 0.8rem;
}

.content-card h5 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.img-card {
  background: no-repeat center;
  height: 30vh;
  background-position: top;
  background-size: cover;
  padding: 0;
  display: flex;
  align-items: end;
}

/* STAR */

.star {
  cursor: pointer;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.tv-icon {
  position: relative;
  background-image: url("./src/tv.svg");
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 32px;
  height: 32px;
}

.fill-star {
  background-image: url("./src/fillStar.svg");
}

.empty-star {
  background-image: url("./src/emptyStar.svg");
}

/* TOOLTIP */

.tooltip {
  position: absolute;
  bottom: 40px;
  left: 10px;
  white-space: pre;
  background-color: blue;
  padding: 0.6rem;
  border-radius: 5px;
}

.tooltip::after {
  position: absolute;
  bottom: -7px;
  left: 6px;
  transform: rotate(45deg);
  content: "";
  height: 16px;
  width: 16px;
  background-color: inherit;
}

@media (max-width: 1000px) {
  .content-card h5 {
    max-width: 7ch;
  }
}

@media (max-width: 650px) {
  .row-container {
    flex-wrap: wrap;
  }

  .search-section {
    justify-content: center;
    background: brown;
  }
  .search-container {
    width: 40vw;
  }
  .search-bar {
    width: 100%;
  }
  .content-card h5 {
    max-width: 100%;
  }
}
