/* GLOBAL */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
  }

body {
    background-color: grey;
    color:white; 
}

h2, h3, h4 {
  text-align: center;
  margin-bottom: 2rem;
}

li {
  list-style: none;
}

img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

/* CONTAINERS */

.row-container {
  display: flex;
  justify-content: space-between;
}

.card {
  padding: 2.5vw;
  margin: 2.5vw;
  background-color: brown;
  border-radius: 5px;
  box-shadow: 2.5px 2.5px 10px 1px black;
}

.header-footer {
  padding: 2.5vw 5vw ;
  background-color: blueviolet;
}

/* STAR */

.star {
  display: inline-block;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.fill-star {
  background-image: url("./src/fillStar.svg")
}

.empty-star {
  background-image: url("./src/emptyStar.svg")
}